# =========================
# Environment Variables
# =========================
.env

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# =========================
# Flask
# =========================
instance/
.flaskenv

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# SQLite (ignored if you ever use SQLite)
# =========================
*.db
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# Python cache
# =========================
.pytest_cache/
.mypy_cache/